Repository jao-consulting/TaxSmart: changes, and which Codecov flags are due for each by the changed paths.
All: front, back

chore: init backend module
  .github/workflows/backend-quality-check.yml
  .github/workflows/frontend-quality-check.yml
  .gitignore
  .husky/pre-commit
  back/.gitignore
  back/eclipse-formatter.xml
  back/pom.xml
  back/taxsmart--bff/pom.xml
  back/taxsmart--bff/src/main/java/com/jao/taxsmart/bff/BackendForFrontRestApplication.java
  back/taxsmart--bff/src/main/resources/application.yml
  back/taxsmart--bff/src/main/resources/openapi/in/openapi.yml
  back/taxsmart--bff/src/test/java/com/jao/taxsmart/bff/architecture/DeprecatedDependenciesTest.java
  back/taxsmart--bff/src/test/resources/application.yml
  codecov.yml
Due: back

Notes added by 'git notes add'
  fa5146020d808863954b3a07508bfa166e6fdf86
Due: none

ci: adding docker image build for front and back
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/docker-build/action.yml
  .github/actions/java-cmd/action.yml
  .github/actions/node-cmd/action.yml
  .github/dependabot.yml
  .github/workflows/backend-quality-check.yml
  .github/workflows/build-back-end.yml
  .github/workflows/build-front-end.yml
  .github/workflows/docs/SUMMARY.md
  .github/workflows/docs/backend-quality-check.md
  .github/workflows/docs/build-back-end.md
  .github/workflows/docs/build-front-end.md
  .github/workflows/docs/frontend-quality-check.md
  .github/workflows/frontend-quality-check.yml
  back/Dockerfile
  back/back-entrypoint.sh
  back/pom.xml
  docs/technical/SUMMARY.md
  docs/technical/architecture/decisions/0001_technical_stack.md
  docs/technical/architecture/decisions/about.md
  docs/technical/ci_cd/decisions/0000_git_workflow.md
  docs/technical/ci_cd/decisions/0001_commit_style.md
  docs/technical/ci_cd/decisions/0002_pre_commit_hooks.md
  docs/technical/ci_cd/decisions/0003_semantic_release.md
  docs/technical/ci_cd/decisions/about.md
  front/Dockerfile
  front/front-entrypoint.sh
Due: front, back

Notes added by 'git notes add'
  2bdd44399f7b318f459e5deaa67eeb28a3297d9e
Due: none

ci: changing github token in semantic release to trigger other WF
  .github/workflows/semantic-release.yml
Due: none

Notes added by 'git notes add'
  4526eb815afcbb745e9fe1beb3913f718079e45a
Due: none

Notes added by 'git notes add'
  3878d535c713aeb0a4306359b741461e230ce433
Due: none

chore: updating semantic release process updating current version in pom and package
  .github/scripts/prepare-release.sh
  .github/workflows/semantic-release.yml
  .releaserc.yml
Due: none

Notes added by 'git notes add'
  5a211bca2f8b9c460e4fefb36abdc2f79fc7a603
Due: none

chore(release): 1.0.6 [skip ci]
  back/pom.xml
  front/package-lock.json
  front/package.json
Due: front, back

docs: adding docs about delivery
  .github/workflows/semantic-release.yml
  .husky/pre-commit
  docs/technical/SUMMARY.md
  docs/technical/ci_cd/decisions/0002_pre_commit_hooks.md
  docs/technical/ci_cd/decisions/0004_delivery_process.md
  front/.eslintrc.cjs
  front/.prettierrc
  front/nuxt.config.ts
  front/package-lock.json
  front/package.json
  front/tests/my-test.spec.ts
Due: front

ci: adding codeql analysis
  .deepsource.toml
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/WORKFLOW.md
  .github/actions/docker-build/action.yml
  .github/actions/java-cmd/action.yml
  .github/actions/node-cmd/action.yml
  .github/dependabot.yml
  .github/scripts/prepare-release.sh
  .github/workflows/backend-quality-check.yml
  .github/workflows/build-back-end.yml
  .github/workflows/build-front-end.yml
  .github/workflows/codeql-security-analysis.yml
  .github/workflows/docs/codeql-security-analysis.md
  .github/workflows/docs/semantic-release.md
  .github/workflows/frontend-quality-check.yml
  .github/workflows/pull-request-semantic-check.yml
  .github/workflows/scan-detect-secrets.yml
  .github/workflows/semantic-release.yml
  .releaserc.yml
  codecov.yml
Due: none

docs: documenting dependency management and delivery components
  .github/workflows/codeql-security-analysis.yml
  .husky/commit-msg
  .husky/pre-commit
  back/Dockerfile
  back/back-entrypoint.sh
  back/pom.xml
  back/taxsmart--bff/pom.xml
  front/Dockerfile
  front/front-entrypoint.sh
Due: front, back

docs: documenting continuous integration & delivery tools
  docs/technical/SUMMARY.md
  docs/technical/ci_cd/decisions/0005_quality_tools.md
Due: none

docs: update readme with badges
  README.md
Due: none

docs: adding testing strategy docs
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/java-cmd/action.yml
  .github/workflows/docs/mutation-testing.md
  .github/workflows/mutation-testing.yml
  back/pom.xml
  back/taxsmart--bff/pom.xml
  back/taxsmart--bff/src/main/java/com/jao/taxsmart/bff/application/in/rest/controller/TaxController.java
  back/taxsmart--bff/src/test/java/com/jao/taxsmart/bff/application/in/rest/controller/TaxControllerTest.java
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/README.md
  docs/SECURITY.md
  docs/technical/SUMMARY.md
  docs/technical/architecture/assets/testing_pyramid.png
  docs/technical/architecture/decisions/0000_architecture_decision_records.md
  docs/technical/architecture/decisions/0001_technical_stack.md
  docs/technical/architecture/decisions/0002_testing_strategy.md
  docs/technical/ci_cd/decisions/0000_git_workflow.md
  docs/technical/ci_cd/decisions/0001_commit_style.md
  docs/technical/ci_cd/decisions/0002_pre_commit_hooks.md
  docs/technical/ci_cd/decisions/0003_semantic_release.md
  docs/technical/ci_cd/decisions/0004_delivery_process.md
  docs/technical/ci_cd/decisions/0005_quality_tools.md
Due: back

ci: adding mutation testing for front end and modularizing results on dashboard
  .github/actions/node-cmd/action.yml
  .github/workflows/mutation-testing.yml
  back/pom.xml
  back/taxsmart--bff/src/main/java/com/jao/taxsmart/bff/application/in/rest/controller/TaxController.java
  front/.gitignore
  front/package-lock.json
  front/package.json
  front/stryker.config.json
Due: front, back

chore: testing quality tool
  back/taxsmart--bff/src/main/java/com/jao/taxsmart/bff/application/in/rest/controller/TaxController.java
Due: back

docs: adding new question template
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/QUESTION.yml
  .github/actions/java-cmd/action.yml
  .github/workflows/docs/semantic-release.md
  .github/workflows/semantic-release.yml
  LICENSE.md
  docs/README.md
Due: none

docs: update pr template doc
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/pre-commit
  docs/technical/architecture/decisions/0003_backend_code_architecture.md
  front/.lintstagedrc
Due: front

chore: bump front dependencies
  front/package-lock.json
  front/package.json
Due: front

docs: documenting front end architecture
  docs/technical/architecture/decisions/0004_front_end_code_architecture.md
Due: none

chore: init front
  .github/workflows/semantic-release.yml
  front/app.vue
  front/i18n/define-i18n.config.ts
  front/i18n/i18n.config.ts
  front/i18n/locales/fr-FR.json
  front/layouts/default.vue
  front/nuxt.config.ts
  front/package-lock.json
  front/package.json
  front/pages/index.vue
  package-lock.json
  package.json
Due: front

Path conditions:
  front: any of: front/, but not: back/**/*Application.java
  back: any of: back/, but not: back/**/*Application.java
